body {
  margin: 0;

  font-family: 'Poppins';
  margin-top: 100px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e1e4ea;
  z-index: 1000;
  font-size: 16px;
}


.navbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-background {
  padding-bottom: 30px;
  padding-left: 10px;
  width: 40px;
  height: 20px;
  background-color: #0A2A66;
  border-radius: 100%;
}

.logo-img {

  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 80px;
}

.logo-text {
  font-weight: 900;
  font-size: 20px;
  color: #0A2A66;
}


.navbar-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-link {
  text-decoration: none;
  font-size: 17px;
  color: #333A4D;
  font-weight: 400;
  transition: 0.2s;
}

.nav-link:hover {
<<<<<<< HEAD
  color: #0A2A66;
=======
    color: #D4AF37;
>>>>>>> 552e85571b345085440a1576096f24d7469c5093
}

.nav-link.active {
  color: #D4AF37;
  font-weight: 500;
}


.butten-book {
  background-color: #0A2A66;
  color: #ffffff;
  border: none;
  padding: 17px 28px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}

.butten-book:hover {
  opacity: 0.9;
}

/* نهاية الناف */

.about-hilal-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.about-hilal-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

.main text {
  font-size: 60x;
}

.about-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* بداية مهمة هلال */
.header {
  height: 400px;


}

.header-main {
  color: #0A2A66;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.header-blah-blah {
  color: #4D4D4D;
  font-weight: 100;
  width: 930px;
  padding-left: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;

}

/* نهاية قصة هلال */

.mission-section {
  height: 320px;
  background-color: #F4F4F4;
}

.mission-section-title {
  color: #0A2A66;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
}

.card {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

  width: 300px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;

}

h3 {
  font-weight: 700;
}

.card-font {
  margin: 0px 25px 40px 25px;

  font-size: 15px;
  font-weight: 400;
  color: #4D4D4D;

}

/* نهاىة mission-section */
.timeline {
  width: 800px;
  margin-left: 300px;
  padding-top: 50px;
}

.timeline-title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  color: #0a2a63;
  margin-bottom: 40px;
}

.timeline-item {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 25px 0;
}

.year {
  font-size: 20px;
  font-weight: 700;
  color: #c79b2e;
  width: 80px;
  text-align: right;
}

.timte-line-event {
  flex: 1;
  background: white;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.20);

  font-size: 16px;
  color: #333;
  border-left: 4px solid #c79b2e;
}

/* نهاية التايم لاين ايفينت التواريخ */

.time-line-end {
  height: 200px;
  background-color: #0a2a63;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  color: #ffffff;
  font-weight: 200;
  text-align: center;
  padding-top: 30px;
}

h2 {
  font-size: 30px;
  color: #D4AF37;
  font-weight: 300;
}

/* نهاية تايم لاين ايفينت */

.stat-end {
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
/* نهاية بسيط للستات

*/


.footer {
  background: #0A2A66;
  color: white;
  padding: 60px 100px;
  margin-top: 50px;        
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.footer-title {
  font-weight: 900;
  margin-bottom: 10px;
  color: #D4AF37;
}


.footer-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  line-height: 2;
}

.newsletter-btn {
  background: #D6B23A;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}

.footer-line {
  margin: 40px 0;
  border-color: rgba(255,255,255,0.2);
}

.footer-bottom {
  text-align: center;
}