
.flex {
       display: flex;
       justify-content: space-around;
       z-index: 10000;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      position: fixed;
      width: 100%;
      background-color: white;
    top: 0;    

}
 .div2{
    display: flex;
    background-color: white;
    margin-top: 2px;
 }
 .im{
    height: 80px;
    width: 80px;
    margin-top: -5px;
    margin-left: 10px;
    transform:rotate(0deg) ;
    -webkit-transform:rotate(0deg) ;
    -moz-transform:rotate(0deg) ;
    -ms-transform:rotate(0deg) ;
    -o-transform:rotate(0deg) ;
}
 .image{
    text-align: center;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    background-color: #0A2A66;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.logo{
    margin-top: 2px;
}
.A{
    margin-top: -1px;
}


.flex div {
    width:calc(90%10);
    font-family:mont;
}
.booking{
    background-color:#0A2A66;
    border-radius: 16px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    height: 70px;
    padding: 2px;
    color: white;
    margin-top: 5px;
}
.hove:hover{
    color: #D4AF37;
}
.hove{
    font-weight: 200;
    font-size: 10pt;
}
.secb1{
    background-color: #0A2A66;
    width: 100%;
    height: 200px;
    color: white;
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
}
main{
    text-align: center;
}
.naav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 350px;
    flex-direction: row;
    overflow: hidden;
}
.naav nav{
    width: calc(85%/2);
    /*border: 2px solid black;
    */padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.size{
     width: 350px;
     height: 380px;
     transition:transform 1s ease ;
     -webkit-transition:transform 1s ease ;
     -moz-transition:transform 1s ease ;
     -ms-transition:transform 1s ease ;
     -o-transition:transform 1s ease ;
}
.size:hover{
    /*width: 500px;
    */transform:scale(1.3) ;
    -webkit-transform:scale(1.3) ;
    -moz-transform:scale(1.3) ;
    -ms-transform:scale(1.3) ;
    -o-transform:scale(1.3) ;
}
.sec{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    flex-direction: row;
    overflow: hidden;
}
.sec section{
    width: calc(85%/4);
    /*border: 2px solid black;
    */padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.loc{
    width: 35px;
    height: 35px;
    margin-top: 15px;
    /* margin-left: 5px; */
}
.locl{
    display: flex;
}

.b3{
    background-color: #0A2A66;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.divready{
    background-color: #cfd4dd;
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 50px;
    margin-top: 30px;
}
.bready{
    background-color: #0A2A66;
    border-radius: 8px;
    color: white;
    width: 150px;
    height: 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.nav7{
        background-color:#0A2A66;
            width: 100%;
                height: 320px;




}
.div11{
    text-align: center;
    display: flex;
    top: 0px;
    justify-content: space-around;


}
.div11 div{
    width: calc(90%/4);
}
table{
    text-align: left;
    margin-top: 30px;
    color: white;
}
.footer_top{
    color: #D4AF37;
}
.size4{
    width: 16px;
    height: 16px;
    margin-top: 15px;
}