
.flex {
       display: flex;
       justify-content: space-around;

      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      position: fixed;
      width: 100%;
      background-color: white;
    

}
 .div2{
    display: flex;
    background-color: white;
    margin-top: 2px;
 }
 .im{
    height: 80px;
    width: 80px;
    margin-top: -5px;
    margin-left: 10px;
    transform:rotate(0deg) ;
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}
 .image{
    text-align: center;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    background-color: #0A2A66;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.logo{
    margin-top: 2px;
}
.A{
    margin-top: -1px;
}


.flex div {
    width:calc(90%10);
    font-family:mont;
}
.booking{
    background-color:#0A2A66;
    border-radius: 16px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    height: 70px;
    padding: 2px;
    color: white;
    margin-top: 5px;
}
.hove:hover{
    color: #D4AF37;
}
.hove{
    font-weight: 200;
    font-size: 10pt;
}
.divback{
    width: 100%;
    height: 600px;
    background-image:url(../../photo/khalid/backg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    margin-top: 30;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-blend-mode: darken;
}
.div3{
    display: flex;
    margin-left: 30%;
}
.b1{
 margin-left: 5px;
 margin-right: 5px;
 background-color: #D4AF37;
 color: #0A2A66;
 border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border: transparent;
}
.b2{
 margin-left: 5px;
 margin-right: 5px;
 color:white;
 border-radius: 4px;
 background-color: transparent;
 border: 2px solid white;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
}
.b2:hover{
    background-color: white;
    color: black;
}
main{
    text-align: center;
}
.naav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 350px;
    flex-direction: row;
    overflow: hidden;
}
.naav nav{
    width: calc(85%/4);
    /* border: 2px solid black; */
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
     overflow: hidden;
    border-radius: 16px;


}
.size{
    width: 350px;
    height: 380px;
    /*transition-duration: 2s;
    */transition:transform 1s ease ;
    -webkit-transition:transform 1s ease ;
    -moz-transition:transform 1s ease ;
    -ms-transition:transform 1s ease ;
    -o-transition:transform 1s ease ;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.size:hover{
    /*width: 500px;
    */transform:scale(1.3) ;
    -webkit-transform:scale(1.3) ;
    -moz-transform:scale(1.3) ;
    -ms-transform:scale(1.3) ;
    -o-transform:scale(1.3) ;
}
.sec{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    flex-direction: row;
    overflow: hidden;
}
.sec section{
    width: calc(85%/4);
    /* border: 2px solid black; */
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
     overflow: hidden;
    border-radius: 16px;
}
.loc{
    width: 35px;
    height: 35px;
    margin-top: 15px;
    /* margin-left: 5px; */
}
.locl{
    display: flex;
}
.b3{
    background-color: #0A2A66;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}