
body {
margin: 0;
font-family: 'Poppins';
margin-top: 100px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e1e4ea;
  z-index: 1000;
  font-size: 16px; 
}


.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-background {
    padding-bottom: 30px;
    padding-left: 10px;
    width: 40px;
    height: 20px;
    background-color: #0A2A66;
    border-radius: 100%;
}

.logo-img {

    border-radius: 50%;
    display: flex;
    align-items: center;
    width: 80px;
}

.logo-text {
    font-weight: 900;
    font-size: 20px;
    color: #0A2A66;
}


.navbar-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-link {
    text-decoration: none;
    font-size: 17px;
    color: #333A4D;
    font-weight: 400;
    transition: 0.2s;
}

.nav-link:hover {
    color: #D4AF37;
}




.butten-book {
  background-color: #0A2A66;
  color: #ffffff;
  border: none;
  padding: 17px 28px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}
.butten-book:hover {
  opacity: 0.9;
}

/* ............................................section branch.......................... */
.secb1{
    background-color: #0A2A66;
    width: 100%;
    height: 200px;
    color: white;
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
}
main{
    text-align: center;
}

.naav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 350px;
    flex-direction: row;
    overflow: hidden;
}
.naav nav{
    width: calc(85%/2);
    /*border: 2px solid black;
    */padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.size{
     width: 350px;
     height: 380px;
     transition:transform 1s ease ;
     -webkit-transition:transform 1s ease ;
     -moz-transition:transform 1s ease ;
     -ms-transition:transform 1s ease ;
     -o-transition:transform 1s ease ;
}
.size:hover{
    /*width: 500px;
    */transform:scale(1.3) ;
    -webkit-transform:scale(1.3) ;
    -moz-transform:scale(1.3) ;
    -ms-transform:scale(1.3) ;
    -o-transform:scale(1.3) ;
}
.sec{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    flex-direction: row;
    overflow: hidden;
}
.sec section{
    width: calc(85%/4);
    /*border: 2px solid black;
    */padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.loc{
    width: 35px;
    height: 35px;
    margin-top: 15px;
    /* margin-left: 5px; */
}
.locl{
    display: flex;
}

.b3{
    background-color: #0A2A66;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.divready{
    background-color: #F5F5F5;
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 50px;
    margin-top: 30px;
}
.bready{
    background-color: #0A2A66;
    border-radius: 8px;
    color: white;
    width: 150px;
    height: 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* ....................................footer........................ */
.nav7{
        background-color:#0A2A66;
            width: 100%;
                height: 390px;




}
.div11{
    text-align: center;
    display: flex;
    top: 0px;
    justify-content: space-around;


}
.div11 div{
    width: calc(90%/4);
}
table{
    text-align: left;
    margin-top: 30px;
    color: white;
}
.footer_top{
    color: #D4AF37;
}
.size4{
    width: 16px;
    height: 16px;
    margin-top: 15px;
}