
.flex {
       display: flex;
       justify-content: space-around;
       z-index: 10000;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      position: fixed;
      width: 100%;
      background-color: white;
    top: 0;    

}
 .div2{
    display: flex;
    background-color: white;
    margin-top: 2px;
 }
 .im{
    height: 80px;
    width: 80px;
    margin-top: -5px;
    margin-left: 10px;
    transform:rotate(0deg) ;
    -webkit-transform:rotate(0deg) ;
    -moz-transform:rotate(0deg) ;
    -ms-transform:rotate(0deg) ;
    -o-transform:rotate(0deg) ;
}
 .image{
    text-align: center;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    background-color: #0A2A66;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.logo{
    margin-top: 2px;
}
.A{
    margin-top: -1px;
}


.flex div {
    width:calc(90%10);
    font-family:mont;
}
.booking{
    background-color:#0A2A66;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    height: 70px;
    padding: 2px;
    color: white;
    margin-top: 5px;
}
.hove:hover{
    color: #D4AF37;
}
.hove{
    font-weight: 200;
    font-size: 10pt;
} 
.divback{
    width: 100%;
    height: 600px;
    background-image:url(../../photo/Helal/backg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    margin-top: 30;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-blend-mode: darken;
}
.div3{
    display: flex;
    margin-left: 30%;
}
.b1{
 margin-left: 5px;
 margin-right: 5px;
 background-color: #D4AF37;
 color: #0A2A66;
 border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border: transparent;
}
.b2{
 margin-left: 5px;
 margin-right: 5px;
 color:white;
 border-radius: 4px;
 background-color: transparent;
 border: 2px solid white;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
}
.b2:hover{
    background-color: white;
    color: black;
}
main{
    text-align: center;
}
.naav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 350px;
    flex-direction: row;
    overflow: hidden;
}
.naav nav{
    width: calc(85%/4);
    /*border: 2px solid black;
    */padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.size{
    width: 350px;
    height: 380px;
     transition:transform 1s ease ;
    
}
.size:hover{
    /*width: 500px;
    */transform:scale(1.3) ;
    -webkit-transform:scale(1.3) ;
    -moz-transform:scale(1.3) ;
    -ms-transform:scale(1.3) ;
    -o-transform:scale(1.3) ;
}
.sec{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    flex-direction: row;
    overflow: hidden;
}
.sec section{
    width: calc(85%/4);
    /*border: 2px solid black;
    */padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.loc{
    width: 35px;
    height: 35px;
    margin-top: 15px;
    /* margin-left: 5px; */
}
.locl{
    display: flex;
}
.b3{
    background-color: #0A2A66;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.div4{
    width: 100%;
    height: 1060px;
    background-color: rgb(247, 240, 240);
}
.nav4{
    text-align: center;
    margin-top: 5px;
}
.div5{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 700px;
    flex-direction: row;
    overflow: hidden;
}
.div5 div{
    width: calc(90%/3);
    padding: 0px;
    box-shadow: 0 5px 10px rgb(0, 0, 0,0.15);
    background-color: white;
    margin-left: 20px;
    margin-right: 35px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.size2{
    width: 350px;
    height: 380px;
    /*transition-duration: 2s;
    */transition:transform 1s ease ;
    -webkit-transition:transform 1s ease ;
    -moz-transition:transform 1s ease ;
    -ms-transition:transform 1s ease ;
    -o-transition:transform 1s ease ;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.size2:hover{
    /*width: 500px;
    */transform:scale(1.3) ;
    -webkit-transform:scale(1.3) ;
    -moz-transform:scale(1.3) ;
    -ms-transform:scale(1.3) ;
    -o-transform:scale(1.3) ;
}
.iconu{
    height: 16px;
    width: 16px;
    margin-left: 16px;
    margin-right: 8px;
}
.b4{
    background-color: #0A2A66;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 16px;
    margin-left: 80px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.b5{
    background-color: #0A2A66;
    color: white;
    width: 200px;
    height: 50px;
    margin-left: 42%;
    margin-top: 50px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.sec2{
    text-align: center;
    font-weight: bold;
}
.div6{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;

}
.div6 div{
    width: calc(90%/6);
    padding:20px;
}
.size3{
    width: 50px;
    height: 50px;
    margin-top: 7px;
    margin-left: 10px;
}
.div7{
    /* margin-left: 10%; */
    /* padding-left: 50%; */
}
.div7:hover{
        box-shadow: 0 5px 10px rgb(0, 0, 0,0.15);


}
.nav5{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 25%;
    background-color: rgb(212, 223, 223);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.div8{
    text-align: center;
    background-color: #0A2A66;
    color: white;
    width: 100%;
    height: 410px;
}
.div9{
    display: flex;
           justify-content: space-around;

}
.div9 div{
       width: calc(84%/3);
       box-shadow: 0 10px 30px rgb(0, 0, 0,0.2);
       background-color: #041433;
       border-radius:16px ;
       -webkit-border-radius:16px ;
       -moz-border-radius:16px ;
       -ms-border-radius:16px ;
       -o-border-radius:16px ;
}
.size4{
    width: 16px;
    height: 16px;
    margin-top: 15px;
}
.div10{
    text-align: center;
    top: 0px;
    width: 100%;
    height: 290px;
    background-color: rgb(235, 247, 247);

}
.inp{
    width: 300px;
    height: 40px;
    border: 1px solid rgb(161, 159, 155);
    border-radius: 8px;
    background-color:rgb(235, 247, 247);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.b6{
     height: 40px;
     width: 150px;
     background-color: #0A2A66;
     color: white;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}
.nav7{
        background-color:#0A2A66;
            width: 100%;
                height: 320px;




}
.div11{
    text-align: center;
    display: flex;
    top: 0px;
    justify-content: space-around;


}
.div11 div{
    width: calc(90%/4);
}
table{
    text-align: left;
    margin-top: 30px;
    color: white;
}
.footer_top{
    color: #D4AF37;
}
