
body {
margin: 0;

    font-family: 'Poppins';
margin-top: 100px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e1e4ea;
  z-index: 1000;
  font-size: 16px; 
}


.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-background {
    padding-bottom: 30px;
    padding-left: 10px;
    width: 40px;
    height: 20px;
    background-color: #0A2A66;
    border-radius: 100%;
}

.logo-img {

    border-radius: 50%;
    display: flex;
    align-items: center;
    width: 80px;
}

.logo-text {
    font-weight: 900;
    font-size: 20px;
    color: #0A2A66;
}


.navbar-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-link {
    text-decoration: none;
    font-size: 17px;
    color: #0A2A66;
    font-weight: 400;
    transition: 0.2s;
}

.nav-link:hover {
    color: #D4AF37;
}

.nav-link.active {
    color: #D4AF37;
    font-weight: 500;
}


.butten-book {
  background-color: #0A2A66;
  color: #ffffff;
  border: none;
  padding: 17px 28px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}
.butten-book:hover {
  opacity: 0.9;
}
/* .....................hero part.......................... */

.divback{
    width: 100%;
    height: 600px;
    background-image:url(../../photo/Helal/backg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    margin-top: 30;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-blend-mode: darken;
}
.div3{
    display: flex;
    margin-left: 30%;
}
.b1{
width: 200px;
    height: 65px;
 margin-left: 5px;
 margin-right: 5px;
 background-color: #D4AF37;
 color: #0A2A66;
 border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
 border: transparent;
 cursor: pointer;
}
.b2{
    width: 200px;
    height: 65px;
 margin-left: 5px;
 margin-right: 5px;
 color:white;
 border-radius: 4px;
 background-color: transparent;
 border: 2px solid white;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
  cursor: pointer;

}
.b2:hover{
    background-color: white;
    color: black;
}
/* ..............................branch part.......................... */
main{
    text-align: center;
}
.naav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 350px;
    flex-direction: row;
    overflow: hidden;
}
.naav nav{
    width: calc(85%/4);
    /*border: 2px solid black;
    */padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.size{
    width: 350px;
    height: 380px;
     transition:transform 1s ease ;
    
}
.size:hover{
    /*width: 500px;
    */transform:scale(1.3) ;
    -webkit-transform:scale(1.3) ;
    -moz-transform:scale(1.3) ;
    -ms-transform:scale(1.3) ;
    -o-transform:scale(1.3) ;
}
.sec{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    flex-direction: row;
    overflow: hidden;
}
.sec section{
    width: calc(85%/4);
    /*border: 2px solid black;
    */padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.loc{
    width: 35px;
    height: 35px;
    margin-top: 15px;
    /* margin-left: 5px; */
}
.locl{
    display: flex;
}
.b3{
    background-color: #0A2A66;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding-top: -1px;
    width: 200px;
    height: 50px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
/* ................................start room part............................... */
.div4{
    width: 100%;
    height: 1060px;
    background-color:#f5f5f5;
}
.nav4{
    text-align: center;
    margin-top: 5px;
}
.div5{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 700px;
    flex-direction: row;
    overflow: hidden;
}
.div5 div{
    width: calc(90%/3);
    padding: 0px;
    box-shadow: 0 5px 10px rgb(0, 0, 0,0.15);
    background-color: white;
    margin-left: 20px;
    margin-right: 35px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.size2{
     width: 100%;
    height: 380px;
     transition:transform 1s ease ;
     overflow: hidden;

}
.size2:hover{
        transform:scale(1.1); 


}
.iconu{
    height: 16px;
    width: 16px;
    margin-left: 16px;
    margin-right: 8px;
}
.b4{
    background-color: #0A2A66;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 16px;
    margin-left: 80px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.b5{
    background-color: #0A2A66;
    color: white;
    width: 200px;
    height: 50px;
    margin-left: 42%;
    margin-top: 50px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
/* .....................................end room part.......................... */ */

/* .....................................start services part.......................... */
.sec2{
    text-align: center;
    font-weight: bold;
}
.div6{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;

}
.div6 div{
    width: calc(90%/6);
    padding:20px;
}
.size3{
    width: 50px;
    height: 50px;
    margin-top: 7px;
    margin-left: 10px;
}
.div7{
    /* margin-left: 10%; */
    /* padding-left: 50%; */
}
.div7:hover{
        box-shadow: 0 5px 10px rgb(0, 0, 0,0.15);


}
.nav5{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 25%;
    background-color: rgb(212, 223, 223);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* .....................................end services part.......................... */

/* .....................................start reviews part.......................... */
.div8{
    text-align: center;
    background-color: #0A2A66;
    color: white;
    width: 100%;
    height: 420px;
}
.div9{
    display: flex;
           justify-content: space-around;

}
.div9 div{
       width: calc(84%/3);
       box-shadow: 0 10px 30px rgb(0, 0, 0,0.2);
       background-color: #041433;
       border-radius:16px ;
       -webkit-border-radius:16px ;
       -moz-border-radius:16px ;
       -ms-border-radius:16px ;
       -o-border-radius:16px ;
}
.size4{
    width: 16px;
    height: 16px;
    margin-top: 15px;
}
/* .....................................end reviews part.......................... */

/* ...........................start subscribe part........................... */
.div10{
    text-align: center;
    top: 0px;
    width: 100%;
    height: 290px;
    background-color:F5F5F5

}
.inp{
    width: 300px;
    height: 40px;
    border: 1px solid rgb(161, 159, 155);
    border-radius: 8px;
    background-color:white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.b6{
     height: 40px;
     width: 150px;
     background-color: #0A2A66;
     color: white;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}
/* ...........................end subscribe part........................... */

/* ................................start footer................................ */
.nav7{
        background-color:#0A2A66;
            width: 100%;
                height: 390px;




}
.div11{
    text-align: center;
    display: flex;
    top: 0px;
    justify-content: space-around;


}
.div11 div{
    width: calc(90%/4);
}
table{
    text-align: left;
    margin-top: 30px;
    color: white;
}
.footer_top{
    color: #D4AF37;
}
