
.flex {
       display: flex;
       justify-content: space-around;
       z-index: 10000;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      position: fixed;
      width: 100%;
      background-color: white;
    top: 0;    

}
 .div2{
    display: flex;
    background-color: white;
    margin-top: 2px;
 }
 .im{
    height: 80px;
    width: 80px;
    margin-top: -5px;
    margin-left: 10px;
    transform:rotate(0deg) ;
    -webkit-transform:rotate(0deg) ;
    -moz-transform:rotate(0deg) ;
    -ms-transform:rotate(0deg) ;
    -o-transform:rotate(0deg) ;
}
 .image{
    text-align: center;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    background-color: #0A2A66;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.logo{
    margin-top: 2px;
}
.A{
    margin-top: -1px;
}


.flex div {
    width:calc(90%10);
    font-family:mont;
}
.booking{
    background-color:#0A2A66;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    height: 70px;
    padding: 2px;
    color: white;
    margin-top: 5px;
}
.hove:hover{
    color: #D4AF37;
}
.hove{
    font-weight: 200;
    font-size: 10pt;
}
.secb1{
    background-color: #0A2A66;
    width: 100%;
    height: 200px;
    color: white;
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
}
.filter{
    background-color: rgb(243, 235, 230);
    width: 100%;
    height: 80px;
}
#select_box{
    height: 35px;
    width: 150px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.div4{
    width: 100%;
    margin-top: 50px;
    height: 750px;
    background-color:white;
}
.nav4{
    text-align: center;
    margin-top: 5px;
}
.div5{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 700px;
    flex-direction: row;
    overflow: hidden;
}
.div5 div{
    width: calc(90%/3);
    padding: 0px;
    box-shadow: 0 5px 10px rgb(0, 0, 0,0.15);
    background-color: white;
    margin-left: 20px;
    margin-right: 35px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.size2{
    width: 350px;
    height: 380px;
    /*transition-duration: 2s;
    */transition:transform 1s ease ;
    -webkit-transition:transform 1s ease ;
    -moz-transition:transform 1s ease ;
    -ms-transition:transform 1s ease ;
    -o-transition:transform 1s ease ;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.size2:hover{
    /*width: 500px;
    */transform:scale(1.3) ;
    -webkit-transform:scale(1.3) ;
    -moz-transform:scale(1.3) ;
    -ms-transform:scale(1.3) ;
    -o-transform:scale(1.3) ;
}
.iconu{
    height: 16px;
    width: 16px;
    margin-left: 16px;
    margin-right: 8px;
}
.b4{
    background-color: #0A2A66;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 16px;
    margin-left: 80px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}


